<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>



    <h1>Browsing The  <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <h3><%= subscribers %> : subscribers</h3>
    <hr>
  
    <% for (const post of posts) { %>
        <p> <%= post.title %> - <b><%= post.author %></b></p>
        <% if(post.img){ %>
            <img src=<%= post.img%> alt="">
            <% } %>
   <% } %>


   <%- include('partials/footer') %>
